<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITableFstService" transactionFlow="true" />
                <binding name="WSHttpBinding_ITableSndService" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceSample/Service1/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITableFstService"
                contract="FirstTable.ITableFstService" name="WSHttpBinding_ITableFstService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceSample2/Service2/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITableSndService"
                contract="SecondTable.ITableSndService" name="WSHttpBinding_ITableSndService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>